body{
    text-align: center;
    background-color: #1D1D21;
}

.btn{
    height: 12.5rem;
    width: 12.5rem;
    border: 3px solid black;
    border-radius: 20%;
    margin: 0.3125rem;
}
.btn_contaner{
    display: flex;
    justify-content: center;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.orange{
    background-color: orange;
}
.blue{
    background-color: blue;
}
.flash{
    background-color: white;
}